---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ricardo, a Software Engineer.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>TypeScript</li>
        <li>NextJS</li>
        <li>ExpressJS</li>
        <li>Vue</li>
        <li>SpringBoot</li>
        <li>MongoDB</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am a passionate developer who thrives on creating scalable projects 
      where I can leverage all my knowledge to take on pivotal roles within the platform. Innovating and applying new skills is always thrilling for me, and I constantly seek to enhance my expertise with the latest technologies.
    </p>
    <p class="text-sm font-light">
        Beyond coding, I'm passionate about design, illustration, animation, and 3D modeling, as well as traveling. An unusual hobby of mine is collecting vintage passports; they're intriguing historical artifacts to me.
    </p>
    <p class="text-sm font-light">
        While I have some preferred tools, I always choose the best one for the job, even if it's not on my usual list. My goal is to find the right solution for each project.
    </p>
  </div>
</Card>
